# ===== Server =====
NODE_ENV=development
PORT=5000
CLIENT_URL=http://localhost:5173

# ===== Database =====
MONGO_URI=mongodb://127.0.0.1:27017/zyvora

# ===== JWT =====
JWT_SECRET=replace_with_a_long_random_secret_string
JWT_EXPIRES_IN=7d
JWT_COOKIE_EXPIRES_IN=7

# ===== Cloudinary =====
CLOUDINARY_CLOUD_NAME=dxmcl7y79
CLOUDINARY_API_KEY=983263618989949
CLOUDINARY_API_SECRET=wi52HGFQClrl-5nsx4PyvuRY1lM

# ===== Email (Nodemailer / SMTP) =====
# For Gmail use an App Password (https://myaccount.google.com/apppasswords)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=kaladevins9@gmail.com
SMTP_PASS=ogms spjb pdpm mxyx
EMAIL_FROM_NAME=Zyvora
EMAIL_FROM_ADDRESS=kaladevins9@gmail.com

# ===== Admin =====
ADMIN_EMAIL=kaladevins9@gmail.com
